<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <filter>
    <filter-name>SetAllCharacterEncodingFilter</filter-name>
    <filter-class>com.xbmu.filter.SetAllCharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SetAllCharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.xbmu.web.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewResourceServlet</servlet-name>
    <servlet-class>com.xbmu.web.controller.ViewResourceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewKindServlet</servlet-name>
    <servlet-class>com.xbmu.web.controller.ViewKindServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddKindServlet</servlet-name>
    <servlet-class>com.xbmu.web.controller.AddKindServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewOwnerResourceServlet</servlet-name>
    <servlet-class>com.xbmu.web.controller.ViewOwnerResourceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddResourceServlet</servlet-name>
    <servlet-class>com.xbmu.web.controller.AddResourceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResourceListServlet</servlet-name>
    <servlet-class>com.xbmu.web.controller.ResourceListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetResourceServlet</servlet-name>
    <servlet-class>com.xbmu.web.controller.GetResourceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownloadFileServlet</servlet-name>
    <servlet-class>com.xbmu.web.controller.DownloadFileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewPostServlet</servlet-name>
    <servlet-class>com.xbmu.web.controller.ViewPostServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewOwnerPostServlet</servlet-name>
    <servlet-class>com.xbmu.web.controller.ViewOwnerPostServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddPostServlet</servlet-name>
    <servlet-class>com.xbmu.web.controller.AddPostServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IncrPostThxServlet</servlet-name>
    <servlet-class>com.xbmu.web.controller.IncrPostThxServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewFavoritesPostServlet</servlet-name>
    <servlet-class>com.xbmu.web.controller.ViewFavoritesPostServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewFavoritesResServlet</servlet-name>
    <servlet-class>com.xbmu.web.controller.ViewFavoritesResServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddFavoritesServlet</servlet-name>
    <servlet-class>com.xbmu.web.controller.AddFavoritesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewUserServlet</servlet-name>
    <servlet-class>com.xbmu.web.controller.ViewUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelResourceServlet</servlet-name>
    <servlet-class>com.xbmu.web.controller.DelResourceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelPostServlet</servlet-name>
    <servlet-class>com.xbmu.web.controller.DelPostServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.xbmu.web.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchResourceServlet</servlet-name>
    <servlet-class>com.xbmu.web.controller.SearchResourceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewResourceServlet</servlet-name>
    <url-pattern>/servlet/ViewResourceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewKindServlet</servlet-name>
    <url-pattern>/servlet/ViewKindServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddKindServlet</servlet-name>
    <url-pattern>/servlet/AddKindServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewOwnerResourceServlet</servlet-name>
    <url-pattern>/servlet/ViewOwnerResourceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddResourceServlet</servlet-name>
    <url-pattern>/servlet/AddResourceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResourceListServlet</servlet-name>
    <url-pattern>/servlet/ResourceListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetResourceServlet</servlet-name>
    <url-pattern>/servlet/GetResourceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadFileServlet</servlet-name>
    <url-pattern>/servlet/DownloadFileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewPostServlet</servlet-name>
    <url-pattern>/servlet/ViewPostServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewOwnerPostServlet</servlet-name>
    <url-pattern>/servlet/ViewOwnerPostServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddPostServlet</servlet-name>
    <url-pattern>/servlet/AddPostServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IncrPostThxServlet</servlet-name>
    <url-pattern>/servlet/IncrPostThxServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewFavoritesPostServlet</servlet-name>
    <url-pattern>/servlet/ViewFavoritesPostServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewFavoritesResServlet</servlet-name>
    <url-pattern>/servlet/ViewFavoritesResServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddFavoritesServlet</servlet-name>
    <url-pattern>/servlet/AddFavoritesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewUserServlet</servlet-name>
    <url-pattern>/servlet/ViewUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelResourceServlet</servlet-name>
    <url-pattern>/servlet/DelResourceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelPostServlet</servlet-name>
    <url-pattern>/servlet/DelPostServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/servlet/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchResourceServlet</servlet-name>
    <url-pattern>/servlet/SearchResourceServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>